<div>
    <div class="row" ng-show="about[0]">
        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <img src="./img/about.png" alt="about" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <p align="left">
                　　宁夏润土生物科技有限公司（原石嘴山市顺平化工有限公司）成立于2008年，是一家集科研、开发、生产、推广于一体的民营生物科技企业，公司坐落于石嘴山市惠农区国家级经济开发工业园区，距110国道1公里，京藏高速2公里，京兰铁路2公里，交通便利，地理位置优越。
            </p>
            <p>
                　　公司占地面积12万平方米，通过近10年的科研、生产及实践，宁夏润土生物科技有限公司已发展成为行业中规模大，品种全，品质优的腐植酸钠、腐植酸钾、腐植酸原粉专业生产基地，可根据客户所需定制生产。公司拥有完整、科学的管理体系，拥有专业的营销团队。宁夏润土生物科技有限公司以诚信、实力和产品优良获得了同业界的认可。欢迎各界朋友莅临参观、指导和业务洽谈。
            </p>
        </div>
        <br><br>
    </div>

    <div class="row" ng-show="about[1]">
        <br>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src="./img/culture.jpg" alt="about" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <p align="center">
                企业使命：生产绿色产品，为社会创造财富；
            </p>
            <p align="center">
                企业精神：以人为本，爱岗敬业，诚实守信，团结合作，互利发展；
            </p>
            <p align="center">
                企业宗旨：高科技，高品质，绿色产品；
            </p>
            <p align="center">
                企业目标：争创行业领导者，与时俱进，稳步发展。
            </p>
        </div>
        <br><br>
    </div>

    <div class="row" ng-show="about[2]">
        <br>
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="./img/license.jpg" alt="license" show-cover="license">
                <p align="center"><strong>营业执照</strong></p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="./img/permit.jpg" alt="permit" show-cover="permit">
                <p align="center"><strong>饲料生产许可证</strong></p>
            </div>
        </div>
        <div class="cover" style="display: none;">
            <img src="" alt="">
        </div>
        <br><br>
    </div>

    <div class="row" ng-show="about[3]">
        <br>
            <h1>Hello about3</h1>
        <br><br>
    </div>

</div>
