<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3 scroll-here><strong>腐植酸对微生物和低等植物的生长有促进作用</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　1、腐植酸可作为细菌、真菌、酵母菌和藻类等的食物和能量来源，被其吸收、利用。
                </p>
                <p>
                    　　2、腐植酸的络合性能可影响环境中的离子活性，有利于微生物和藻类的生长。
                </p>
                <p>
                    　　3、腐植酸影响微生物和藻类的生化机制，通过改变其细胞膜的功能和提高体内酶的活性而起作用，使某些藻类如腰鞭毛藻叶绿素含量增加，使得微生物和低等植物的细胞数目增加，重量增加，促进它们的生长繁殖，也能诱导某些平面放线菌形成芽孢。HA刺激有益菌生长和活动的作用对农业生产十分有利。田间试验表明，HA能促进土壤中有益微生物的数量和活性。但藻类受到水体HA的刺激会产生环境问题。
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
        </div>

    </div>
</div>