<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3><strong>腐植酸在修复生态环境中的重要作用</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　生态环境是人类赖以生存的基本条件。目前，我国生态环境面临的形势依然十分严峻。胡锦涛同志在“十八大”报告中提出，大力推进生态文明建设，努力建设美丽中国。腐植酸自然属性决定了它是绿色动力资源，也是构建“生态文明”的内在因子，腐植酸是土壤的“生命核”，腐植酸是水生体系的“白细胞”，腐植酸是大气碳平衡的“调控阀”——足见腐植酸在修复生态环境中的作用非比寻常。经过半个世纪的发展，腐植酸产品不断推陈出新，已经形成腐植酸绿色环保肥料、腐植酸绿色环保农药、腐植酸(黄腐酸)抗旱剂、腐植酸土壤调理剂、腐植酸保水剂、腐植酸可降解地膜等新农资产品，腐植酸表面活性剂、腐植酸络(螯)合产品等工业类产品，腐植酸钠水体环境修复制剂、腐植酸水体富营养化处理剂、腐植酸水体净化处理剂等水体修复产品。实践证明，这些腐植酸产品在土壤、大气、水体等生态环境修复的不同领域发挥重要作用，很少有哪个专业领域或产品能有如此广泛的应用。因此，在生态文明建设中，腐植酸必将乐在其中。
                </p>
                <p>
                    　　1、腐植酸修复土壤污染
                </p>
                <p>
                    　　腐植酸作为腐殖质中最活跃的部分，对土壤的形成、物化性质和肥力起着关键作用。没有腐殖质和腐植酸的土地，就不能称其为土壤。
                </p>
                <p>
                    　　(1) 腐植酸修复沙化地。
                </p>
                <p>
                    　　目前，全球很多地方都面临着逐渐沙漠化的困境。地球上约有三分之一的面积是沙漠，全世界约有五分之一的土地正在面临着沙漠化的威胁，全球的沙漠化正在以每年6万多平方公里的速度延伸。我国又是世界上土地沙化危害最严重的国家之一，沙漠化面积已达168.9万平方公里，占国土面积的17.6%，主要分布在内陆盆地、高原，东西长4500公里，南北宽600公里的沙漠带，并以每年2460平方公里的速度扩展，全国已有4亿人口受到沙漠化的直接影响。据有关专家介绍，沙害造成的经济损失每年达1000多亿元。虽然我国沙化地治理工作取得了一定进展，但沙化环境仍是影响生态环境的重要因素。
                </p>
                <p>
                    　　结果表明，利用腐植酸保水剂、腐植酸络合尿素、腐植酸沙漠覆盖膜等产品治理沙化土壤效果显著，而且节约成本、固沙植物成活率高。
                </p>
                <p>
                    　　(2) 腐植酸修复重金属污染土壤。
                </p>
                <p>
                    　　目前，全世界每年平均排放H g约1.5万吨，C u约340万吨，P b约500万吨，M n约1500万吨，N i约100万吨。跟据中国农业部对全国污灌区调查结果显示，在约140万公顷的污水灌区中，遭受重金属污染的土地面积占污水灌区面积的64.8%，其中轻度污染土地占46.7%，中度污染占9.7%，严重污染占8.4%，其中以H g和C d的污染面积最大。据统计，全国遭受不同程度污染的耕地面积已接近2000万公顷，约占耕地面积的1/5。我国每年因重金属污染导致的粮食减产超过1000万吨，被重金属污染的粮食多达1200万吨，合计经济损失至少200亿元。土壤重金属被植物吸附和积累后，并通过食物链富集到人和动物体中，从而危害人畜健康，引发癌症等疾病，如水俣病、骨痛病等都是典型例证。
                </p>
                <p>
                    　　矿产资源的破坏、农用物资过度使用、化工企业排放等造成了土壤重金属污染。利用腐植酸肥料、农药、地膜、保水剂等农资产品改良土壤理化性质，增强了金属毒性的耐受力，同时增加了对重金属的吸收，使土壤环境逐步改善;利用腐植酸的弱酸性、表面活性和络(螯)合性，减少土壤中可溶性重金属含量，降低其流动性;腐植酸还因其天然、环保、无污染等特性，可降低或避免其他化学试剂的引入，有效避免二次污染等。
                </p>
                <p>
                    　　2、腐植酸修复大气污染
                </p>
                <p>
                    　　据世界卫生组织估计，2000年世界上大约有8万人死亡和4.6亿生命损失年(lostlife-years)是由于城市空气污染所致，其中约有2/3死亡率和生命损失年发生在亚洲的发展中国家。据估算，全球3%的青少年心血管死亡率、约5%的支气管和肺癌死亡率和约1%儿童的急性呼吸感染死亡率都是由大气中颗粒物污染所致。空气污染也造成极大经济损失。2007年世界银行对中国空气污染导致的经济损失估算得出，空气污染导致的健康损失占GDP的3.8%。有专家对中国111个大中型城市的健康经济效益分析显示，2004年颗粒物PM 10污染导致的总的健康经济损失大约为2334亿元。2012年12月5日，国家环保部发布了《重点区域大气污染防治“十二五”规划》(以下简称“《规划》”)，《规划》要求全国涉及近14%国土面积的47个城市到2015年前，完成PM 2.5下降5%的指标;对于空气污染达不到国家标准的城市，必须编制空气污染达标规划。2012年，P M 2.5治理更是被列为北京市的“一号实事”。
                </p>
                <p>
                    　　2013年1月中旬以来，北京、天津、河北等地出现的雾霾天气，严重影响了人们日常出行和交通;空气质量不好，容易造成病菌传染，对人们身体健康构成威胁。腐植酸稳铵固碳的作用，能够减少温室气体排放，提高空气质量。与此同时，腐植酸(黄腐酸)抗旱剂等系列产品能够有效促进植物光合作用，释放氧气，净化空气质量;腐植酸绿色环保肥料等产品在农业上节能减排效果显著，降低二氧化碳排放，能够有效提升大气质量，对保障人类生命安全、降低大气污染带来的经济损失具有重要作用。
                </p>
                <p>
                    　　3、腐植酸修复水体污染
                </p>
                <p>
                    　　水体污染最常见的现象就是富营养化和化学污染严重。富营养化是指在人类活动的影响下，生物所需的氮、磷等营养物质(主要来自未加处理或处理不完全的工业废水和生活污水、有机垃圾和家畜家禽粪便以及农施化肥)大量进入湖泊、河口、海湾等缓流水体，引起藻类及其他浮游生物迅速繁殖，水体溶解氧量下降，水质恶化，鱼类及其他生物大量死亡的现象。水体中的主要化学污染物质有如下几类：(1) 有害金属，如砷(A s)、汞(H g)、铅(P b)等;(2) 有害阴离子，如氰根离子(C N-)、氟离子(F-)、氯离子(C l-)等;(3) 营养物质，如铵根离子(NH4+)、亚硝酸根离子(NO2-)、磷酸根离子(P O43-)等;(4) 有机物，如酚、醛、农药等;(5) 放射性物质，如氚(3H)、碘(131I)、铀(238U)等核素。
                </p>
                <p>
                    　　《2011年中国环境状况公报》显示，2011年，监测的432个日排污水量大于100吨的直排海工业污染源、生活污染源和综合排污口的污水排放总量为47.4亿吨，各项污染物排放总量约为：化学需氧量21.0万吨、石油类907吨、氨氮2.02万吨、总磷3047吨。
                </p>
                <p>
                    　　水体生态环境恶化，水源污染事故频发，不但造成了巨大经济损失，导致了食品安全问题，也付出了巨大的环境代价。腐植酸作为天然有机弱酸大分子，与无机、有机、重金属离子等污染物发生沉降作用，使污染物浓度降低，水质澄清。天然水中的腐植酸为有机胶体，有很大的表面积和表面能，可以吸附各种阳离子或阴离子化合物，对无机污染物的净化与转移有重要作用。腐植酸显著的pH缓冲作用，会使受污染水体pH波动不会太大，在弱酸环境中，清除重金属污染的可能性最大。因此，利用腐植酸解决水体的富营养化问题，是水环境修复的最有效措施。
                </p>
                <p>
                    　　综上所述，腐植酸类物质在改善生态环境的应用中，可以有效地减少农药和化学肥料对生态环境的污染，并在净化养殖业的空气污染、治理工业及城市生活的污水和重金属污染中有广泛的应用，是污染物的“清道夫”，对生物和人类健康起保护作用。因此，腐植酸类物质是净化生物圈、改善生态环境的宝贵资源。让我们高举生态文明建设大旗，举全行业之力，推动腐植酸在修复环境中发挥重要作用!
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
    </div>
    </div>
</div>