<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3 scroll-here><strong>生物腐植酸在低碳农业中的地位与作用</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　生物腐植酸概念
                </p>
                <p>
                    　　腐植酸是指有机物料在微生物作用下，经过分解与再合成的多个复杂过程，形成的呈酸性的无定形的高分子缩聚物。按照来源，可分为天然腐植酸和人工腐植酸，前者是以泥炭、风化煤和褐煤等为自然原料所生产的腐植酸，目前市场上的腐植酸主要是天然腐植酸[1];人工腐植酸也称生物腐植酸，近年来备受关注，一般是以工业和农业有机废弃物为原料，在人工控制的条件下，经微生物发酵反应生产的腐植酸。
                </p>
                <p>
                    　　生物腐植酸制取所用的工农业有机废物种类繁多，主要包括：(1) 农副产品废弃物和下脚料，如秸秆、废渣、糠鼓等植物木质纤维类残留物;(2) 畜禽粪便，如鸡粪、牛粪等;(3) 工业有机废液，如糖蜜废水、味精废液等;(4) 一些特殊资源，如餐厨垃圾。不同原料由于其组成成分、发酵工艺不同，所得到的生物腐植酸的产量与品质也不同。
                </p>
                <p>
                    　　生物腐植酸的特性与功能
                </p>
                <p>
                    　　生物腐植酸既具有腐植酸的一般性质和特征，又具有一般腐植酸没有的特点。研究结果表明，生物腐植酸主要特点有：(1) 缩合程度和碳含量较低，分子量小，渗透力更强，更容易被作物吸收利用;(2) 羧基和羟基等活性基团含量更丰富，同时还含有一定数量的氨基酸以及多种其他生理活性组分，生理活性和化学活性更强;(3) 色泽较浅，水溶性较好，絮凝极限高，缓冲容量大。生物腐植酸上述特点赋予其许多特有功能，使其产品广泛应用于农业、林业、畜牧业、养殖业等方面，如生物腐植酸肥料、饲料添加剂、农药等，具有改良土壤、增进肥效、调节作物生长、提高作物抗逆性和改善作物品质五大作用。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
    </div>
    </div>
</div>