<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3><strong>腐植酸在农业及工业上的具体应用和贡献</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　腐植酸在农业上的应用及贡献：
                </p>
                <p>
                    　　腐植酸在农业上的应用已被普遍认可，主要作用有：增进肥效、改良土壤、改善品质、调节作物生长和增强作物的抗逆性等。主要产品类型有腐植酸土壤改良类、腐植酸类肥料、腐植酸类农药、腐植酸种苗类等。
                </p>
                <p>
                    　　腐植酸本身是很好的土壤改良剂。历史上，腐植酸在盐碱地改造、沙漠化治理等领域发挥了重要作用。近几年来，用腐植酸进一步开发的液态可降解地膜、一体化育苗营养基质、腐植酸腐熟剂等一批新技术产品正在全面推广。
                </p>
                <p>
                    　　腐植酸肥料系列产品有有机-无机复合肥、有机肥、复混肥等固体肥料以及叶面肥、冲施肥等液体肥;还有腐植酸生物肥、腐植酸包衣化肥等，已经形成了速效与长效并举、固体和液体并存、通用与专用同在、高浓度与低浓度配合、有机与无机协调的肥料体系。
                </p>
                <p>
                    　　腐植酸类农药是一种新型的绿色环保型农药，主要产品类型有生长调节剂、抗逆剂、杀菌剂，以及与各种农药或除草剂复配的增效减毒产品。
                </p>
                <p>
                    　　腐植酸处理种苗的产品有包衣剂、浸种剂、营养钵、营养液、生根粉、移栽素等。
                </p>
                <p>
                    　　由于腐植酸的生理活性，腐植酸类物质在饲料添加剂、兽药和水产养殖开发等方面被广泛应用。
                </p>
                <p>
                    　　腐植酸在工业上的的应用及贡献：
                </p>
                <p>
                    　　国内外研究和实践表明，腐植酸类物质在工业上的利用途径很广泛。它可以作为水泥减水剂、锅炉防垢剂、钻井泥浆处理剂、陶瓷添加剂、酿酒促酵剂、煤球粘结剂、水煤浆添加剂和铅蓄电池膨胀剂等。此外，还可以用作选矿剂、离子交换剂、表面活性剂、絮凝剂和鞣革剂等在工业上使用。
                </p>
                <p>
                    　　早在1981年煤炭部和北京市科委、经委联合通过了腐植酸盐类水泥减水剂的技术鉴定;中国科学院山西煤炭化学研究所进行过锅炉防垢机理的研究;吉林、四川、江西、山西等省份的十几个厂家生产过钻井泥浆处理剂;江西景德镇和广东湛江等地瓷厂使用腐植酸盐类作为陶瓷添加剂;四川等地酿酒厂从泥炭中提取酿酒促酵剂;广东、吉林省的型煤厂利用腐植酸类物质作为型煤粘结剂;中国矿业大学、东北师范大学利用腐植酸类物质作为水煤浆的添加剂;湖南、辽宁省等省级铁矿使用腐植酸盐类作为选矿抑制剂等。现在，这些产品都在各行各业稳定使用。
                </p>
                <p>
                    　　由于腐植酸及其盐类物质组成和结构复杂，它们在工业上的应用潜力还有待进一步开发。
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
        </div>


    </div>
</div>