<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>

        <div class="newsContent">
            <h3><strong>腐殖酸简介以及制作方法详解</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　腐殖酸简介：
                </p>
                <p>
                    　　腐植酸是动植物遗骸，主要是植物的遗骸，经过微生物的分解和转化，以及地球化学的一系列过程造成和积累起来的一类有机物质。它的总量大得惊人，数以万亿吨计。江河湖海，土壤煤矿，大部分地表上都有它的踪迹。由于它的广泛存在，所以对地球的影响也很大，涉及到碳的循环、矿物迁移积累、土壤肥力、生态平衡等方面。土壤所含的腐植酸总量最大，但在其中的含量平均不足百分之一，咸淡水中含有的总量也不小，但是浓度更低。最有希望加以开发利用的腐植酸资源，是一些低热值的煤炭，诸如泥炭、褐煤和风化煤。在它们之中，腐植酸含量达10-80%。我国煤炭蕴藏量是非常丰富的，根据资料，有泥炭50亿吨，褐煤1265亿吨，风化煤尚没有统计数据。从这个意义上说，腐植酸的生产和应用，也可以说是煤化工的一个方面。
                </p>
                <p>
                    　　腐植酸大分子的基本结构是芳环和脂环，环上连有羧基、羟基、羰基、醌基、甲氧基等官能团。
                </p>
                <p>
                    　　腐殖酸制作方法：
                </p>
                <p>
                    　　煤经人工氧化(如用空气、臭氧或硝酸处理)可形成再生腐植酸，如煤用硝酸轻度氧化所得的产物称为硝基腐植酸。提取的方法是先用酸处理，脱去部分矿物质，再用稀碱溶液萃取，萃取液加酸酸化，即可得到腐植酸沉淀。根据腐植酸在溶剂中的溶解度，可分为三个组分：①溶于丙酮或乙醇的部分称为棕腐酸;②不溶于丙酮部分称为黑腐酸;③溶于水或稀酸的部分称为黄腐酸(又称富里酸)。腐植酸大分子的基本结构是芳环和脂环，环上连有羧基、羟基、羰基、醌基、甲氧基等官能团。与金属离子有交换、吸附、络合、螯合等作用;在分散体系中作为聚电解质、有凝聚、胶溶、分散等作用。腐植酸分子上还有一定数量的自由基，具有生理活性。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
        </div>

    </div>
</div>