<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3><strong>腐植酸涂层缓释肥在施用中应注意的几个问题</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　腐植酸涂层缓释肥料是应用涂层肥料专利技术，配合氨酸造粒工艺生产的多效螯合缓释肥料。与以塑料(树脂)为包膜材料的缓控释肥不同，腐植酸涂层缓释肥料选择的缓释材料都可当季转化为作物可吸收的养分或成为土壤有机质成分，具有改善土壤结构，提升可持续生产能力的作用。同时，促控分离的缓释增效模式，是目前市场唯一对N、P、K养分分别进行增效处理的多元素肥料，具有“省肥、省水、省工、增产增收”的特点，比一般复合肥利用率提高10个百分点，作物平均增产15%、省肥20%、省水30%、省工30%，与习惯施肥对照，小麦亩产50公斤、玉米亩增产70公斤、籽棉亩增产30公斤，每亩节本增效200元以上。
                </p>
                <p>
                    　　腐植酸涂层缓释肥料在施用中应注意以下几点：
                </p>
                <p>
                    　　一、“一茬作物一次肥”主要指在小麦、玉米、棉花、水稻等大田作物上，可实现一茬作物只施一次肥。如在小麦600公斤/亩，玉米700 公斤/亩，皮棉100 公斤/亩产量水平下，在播种时一次底施40-50公斤，整个生育期可不再追肥。对于需肥量较大的瓜菜、果树等，建议分次施肥，但可减少施肥次数。在施肥过程中应注意：
                </p>
                <p>
                    　　1.切忌种肥混播，避免肥料与种子直接接触造成“烧苗”。科学施肥方法是采用多功能农机实现播种、施肥一次完成，将肥料施于种子侧下方8-10厘米处。
                </p>
                <p>
                    　　2.在没有施肥机械的情况下，切忌肥料撒施后，先浇水，再翻耕播种。撒施时应注意要撒施均匀，撒施后要抓紧翻耕、播种。
                </p>
                <p>
                    　　二、施肥管理。以小麦为例，应重点注意小麦返青至拔节期的管理。一般情况，使用“一次肥”的小麦与习惯施肥的小麦在返青、拔节期长势无明显差别，但根系明显较为发达。由于早春缓释肥料中氮素的延迟效应，可使小麦的第一、第二节间短、粗，整个秸秆韧性增强，抗倒伏能力提高。后期则表现为肥效持久、植株健壮、穗位整齐、穗粒数及千粒重等明显优于习惯施肥模式。但个别地块，早春小麦返青期，可能出现麦苗轻度“发黄”的情况，与追施返青肥的小麦比较存在一定差异。
                </p>
                <p>
                    　　在小麦返青至拔节期造成麦苗“发黄”的因素很多，应注意分析原因，区别对待。如：干旱、冻害、病害、虫害都可能造成麦苗“发黄”。就施肥管理来说，可能存在的原因：一是较为常见的撒施不均，造成局部麦苗“发黄”;二是大量秸秆还田，造成秸杆腐熟与作物生长争水争肥，同时，部分小麦出苗后根系扎在疏松秸杆上，难以从土壤中吸收养分，出现小麦苗悬空成片发黄;三是个别沙壤土保肥、保水能力较差，可能造成小麦矮小细弱，分蘖少而弱，叶片发黄。针对不同的情况可按下面的方法进行施肥补救：
                </p>
                <p>
                    　　1.在保肥、保水能力较差的地块，不适宜“一次性”施肥，应分次施用。
                </p>
                <p>
                    　　2.因秸秆还田小麦苗悬空缺氮引起的麦苗发黄，可在起身或拔节期每亩再追施尿素5-10公斤，或结合叶面喷施2%浓度的尿素溶液30-50公斤。
                </p>
                <p>
                    　　3.对于播种量大，目标产量高的高产田，应适当提高施肥量，如亩产量在500-600公斤，施用量应不低于50公斤。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>

    </div>
    </div>
</div>