<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3><strong>在“化肥与土壤”之间，让腐植酸良性调节好</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　3年前央视《焦点访谈》栏目播出的《被化肥喂瘦的“耕地”》视频在国内自媒体上热传，再次引起了国人对土壤环境的高度重视。“土壤改良，绝不能再等了”一语，成为民众殷切的期盼。
                </p>
                <p>
                    　　一、看看我国化肥和土壤现状
                </p>
                <p>
                    　　1、我国化肥用量过大。根据历史资料记载，1987年我国农用884万吨。根据国家统计局最新数据，2015年我国化肥用量6022.60万吨，这还是化肥用量增长速度首次降到1%以下的结果。
                </p>
                <p>
                    　　2、土壤基础地力普遍偏低。与发达国家相比，我国基础地力偏低20-30个百分点。目前，我国土壤有机质平均含量在2.5%左右，且存在明显分布不均的现象(全国农机推广服务中心《测土配方施肥土壤基础养分数据集(2014-2015)》)。
                </p>
                <p>
                    　　3、土壤酸化速度加快。如今，人类不合理使用化肥，导致20～30年土壤pH值平均下降一个单位，而土壤自然酸化约300万年下降一个单位。土壤PH值每下降一个单位，重金属镉的活性就会提升100倍，增加骨痛病等疑难病症的患病风险。
                </p>
                <p>
                    　　4、土壤板结越来越严重。土壤对化肥的依赖，就像“吸毒”一样，越来越“上瘾”。十年前，老百姓就有口头禅，不吃“白面面”(化肥)，地里不长田。可见，土壤板结→增施化肥→为了增产→重施化肥→土壤再板结……，土壤种植结构形成了恶性循环的局面。
                </p>
                <p>
                    　　5、土壤危害加“深”。研究发现，深层土壤污染比浅层污染更明显，深达地下20米。这是几十年累积的结果，而治理的时间可能更长。
                </p>
                <p>
                    　　6、测土配方不适合中国国情。2005年起，我国大力开展测土配方施肥。实践证明，这种举措与我国一家一户分散经营、地块小、养分空间变异大的基本国情不符。每年投入十几亿的测土配方施肥，对18亿亩耕地而言杯水车薪，效果不大。
                </p>
                <p>
                    　　7、有机肥隐患重重。农作物秸秆、畜禽粪便、城市生活垃圾以及工农业生产中废弃物转化有机肥，受到工艺技术、生产成本、安全转化等多元条件限制，主要是重金属、抗生素、病虫和有害菌种、放射性物质严重超标。
                </p>
                <p>
                    　　8、土壤失去储碳控碳能力。腐植酸是土壤最大的碳库，约占土壤碳的80%。化肥及农业强烈耕作导致土壤结构破坏，土壤腐植酸基本耗尽，其储碳控碳能力减弱甚至丧失。科学研究表明，土壤中释放的碳正在加快全球变暖，并复合工农业大量有害气体排放，已成为“雾霾”的重要推手。
                </p>
                <p>
                    　　二、在“化肥和土壤”之间，让腐植酸良性调节好
                </p>
                <p>
                    　　1、腐植酸是土壤的地力之“芯”。众所周知，“有机质—微生物-腐殖质-腐植酸-微生物”贯穿于土壤生命之中，而腐植酸在土壤形成过程中起到了“生命核”用。她具有土壤的“心脏”功能，主导着土壤生态系统的物质交换和能量转化，是永续土壤生命的“发动机”。可以说，没有腐植酸，土壤就“死”了。
                </p>
                <p>
                    　　2、工业制取的腐植酸与土壤同根同源。煤炭腐植酸与土壤腐殖酸具有相似的物理特性、化学组成、分子结构及分子量范围，具有一致的应用特性。因此，利用煤炭腐植酸反哺土壤，同源匹配。
                </p>
                <p>
                    　　3、腐植酸是提质增效化肥的“最佳伴侣”。在“国发〔1974〕110号”和“国发〔1979〕200号”2个文件推动下，获得了腐植酸肥料在农业上的“五大作用”;近5年，全国农业技术推广服务中心开展腐植酸肥料试验示范获得了“两高三少”、“三剂化”、“三化效应”等新成果，充分证明了腐植酸提质增效化肥的优越作用。
                </p>
                <p>
                    　　4、腐植酸调节土壤可酸可碱。腐植酸分子量从几百到上百万不等，含多种活性官能团，可通过不同工艺，可开发适应碱性或酸性土壤的系列腐植酸农业普惠产品。
                </p>
                <p>
                    　　5、腐植酸符合农业生产要求。腐植酸可以因地制宜，开发环境特色产品，满足不同时空、地带、自然环境条件下土壤生产的需求，符合我国农业生产现状及要求。
                </p>
                <p>
                    　　6、腐植酸赋存的有机质最安全。工业提取的腐植酸主要来源于风化煤、褐煤、泥炭等煤炭资源，属性天然，绿色安全。通过工业利用煤炭腐植酸或生物转化腐植酸，可以科学解决向土壤安全投放问题。
                </p>
                <p>
                    　　7、腐植酸快速提升土壤地力。土壤有机质的腐熟化少则两三年，多则一百年。工业开发利用腐植酸可以缩短有机质的腐熟化时间，使之当年受益甚至当季当期受益。
                </p>
                <p>
                    　　8、腐植酸有机无机结合效果佳。腐植酸可与大、中、微量营养元素及有益元素多元融合，一经结合，即可达到匹配的最佳状态。在等养分的情况下，腐植酸肥料比常规肥料利用率平均提高10个百分点以上，相当于净增30%～40%。
                </p>
                <p>
                    　　9、腐植酸修复土壤重金属污染。腐植酸不仅可以降低土壤重金属污染物的含量，同时可以提高到土壤“肌体自我修复”功能，是土壤修复产业的优良之选。
                </p>
                <p>
                    　　10、腐植酸是土生土长的气候因子。土壤腐植酸本身具有低碳化属性，利用腐植酸肥料及其衍生产品反哺农业，节能、低碳、减排、增绿，于发展气候农业更具实效性。
                </p>
                <p>
                    　　腐植酸既是土壤的，又是肥料的，还是生态的。当前，利用腐植酸调节好“土壤与肥料”之间的关系，最科学、最有效、最安全。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
        </div>


    </div>
</div>