<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3><strong>腐植酸肥料春来花开风满楼</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p align="center">
                    ——祝贺“2017年山东农大肥业营销峰会暨新春产品推介会”取得圆满成功!
                </p>
                <p>
                    　　2017年2月16日，“2017年山东农大肥业营销峰会暨新春产品推介会”在杭州召开。秦秀芝副秘书长代表协会出席了本次会议。
                </p>
                <p>
                    　　秦副秘书长在峰会发言中，介绍了农业部全国农技推广中心开展“农大肥业”腐植酸肥料试验示范的数据。即，每亩平均纯收益增加214.7元，等量用肥增产8%，减量15%用肥平均增产3.5%;总计推广腐植酸肥料7200万亩，按亩产量600公斤计算，累计增产粮食345.6万吨，累计节肥10.8万吨，累计尿素节约煤炭16.2万吨;按照国家碳交易标准计算，累计减少环境碳排放950.4万吨。这些数据进一步验证了腐植酸肥料“两高三少”“三剂化”“三化效应”等科学结论。
                </p>
                <p>
                    　　农业部全国农技推广中心副处长杨帆、国家化肥质量监督检验中心(上海)常务副主任刘刚、中国化肥信息中心主任陈丽分别从腐植酸肥料试验成果、腐植酸肥料行业标准制定、腐植酸肥料产品市场走势作了精彩报告。
                </p>
                <p>
                    　　参会代表共同见证了《农大肥业企业社会责任绿皮书》的发布，以及山东农科频道2016年粮王大赛总冠军的诞生(腐植酸肥料用户，玉米亩产976公斤)。
                </p>
                <p>
                    　　最后，秦副秘书长朗诵了曾宪成理事长的贺诗《教春魂》，表达了曾理事长对大会圆满召开的祝贺以及对“农大肥业”团队的厚望。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
        </div>

    </div>
</div>