<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3 scroll-here><strong>近8年，腐植酸低碳农业节节攀高</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　近8年，腐植酸低碳农业节节攀高——号召全行业积极行动起来，认真贯彻国务院《关于印发“十三五”控制温室气体排放工作方案》
                </p>
                <p>
                    　　2016年10月26日，国务院印发《关于印发“十三五”控制温室气体排放工作方案》(国发〔2016〕61号)，强调大力发展低碳农业。腐植酸是地球碳循环的重要一员，储碳控碳，调节碳循环，崇尚低碳农业。20多年来，我会埋头深耕细作，一直带领全行业在优化化肥、育化土壤、储碳控碳等方面做出了不懈努力。特别是近8年来，腐植酸、腐植酸肥料已经贯穿到了低碳农业发展之中。
                </p>
                <p>
                    　　1、2009年，首创“腐植酸低碳经济融合众长的交易平台”。2009年12月25日，我会在北京召开“腐植酸绿色产业与低碳经济发展”会议，提出了“低碳经济融合众长的交易平台(模型)”(见2009年第6期《腐植酸》杂志)，倡导全行业大力发展腐植酸低碳材料产业。其中，腐植酸化肥改良工程、生物腐植酸与循环农业产业化、腐植酸盐碱地改造、腐植酸沙漠化治理工程等作为腐植酸低碳农业的重点培育对象。
                </p>
                <p>
                    　　2、2010年，首发《北京低碳宣言》。2010年11月30日，我会在北京召开“中国腐植酸行业低碳经济交流大会”，发布了《北京低碳宣言》(见2010年第6期《腐植酸》杂志)，确立了大力发展我国腐植酸绿色低碳经济的行业宗旨。通过理论探索、专题讨论、广泛征集、实践验证等途径，模拟推算出了腐植酸肥料低碳减排的量化计算方法。
                </p>
                <p>
                    　　3、2011年，首创“腐植酸绿色低碳产业十大思想体系”。2011年12月16日，我会在北京召开“腐植酸绿色低碳产业思想体系建设高峰论坛”，第一次站在全行业的高度，从肥料延展到“四大”(大农业、大工业、大环境、大医药)领域，提出了“腐植酸绿色低碳产业十大思想体系”(见2011年第6期《腐植酸》杂志)。
                </p>
                <p>
                    　　4、2012年，首立“腐植酸净土洁食工程”。2012年11月26日，我会在北京召开“腐植酸产业思想创新发展交流大会”，号召全行业以腐植酸肥料为抓手，立足净化“土壤血统”做起，积极开展腐植酸产品应用碳交易工程(见2012年第6期《腐植酸》杂志)。
                </p>
                <p>
                    　　5、2013年，首立“腐植酸土壤储碳固碳工程”。2013年11月28日，我会在北京召开“全国腐植酸生态文明(环境)建设论坛”，曾宪成理事长作了《大气雾霾之疡，腐植酸反哺土壤固本之切》(见2014年第1期《腐植酸》杂志)主题报告，号召全行业利用腐植酸肥料反哺固本，储碳控碳，调节大气碳循环。
                </p>
                <p>
                    　　6、2014年，首立“腐植酸肥料低碳化工程”。2014年11月26日，我会在北京召开“土壤生态环境可持续发展论坛”，曾宪成理事长作了《新时期开展腐植酸肥料三化效应研究势在必行》主题报告(见2015年第4期《腐植酸》杂志)，号召全行业积极开展腐植酸肥料“三化效应”(低碳化、生态化、优质化)研究。
                </p>
                <p>
                    　　7、2015年，首推“腐植酸肥料两高三少试验成果”。2015年5月28日，我会在北京召开“化肥减量，腐植酸肥料增量，确保我国粮食生产安全论坛”，发布了全国农技中心开展腐植酸肥料“两高三少”(肥料利用率高、作物产量高、施肥用量少、施肥次数少、有害气体排放少)的试验成果(见2015年第6期《腐植酸》杂志)。同年，我会提出了腐植酸产业“两以论”：以国泰论，腐植酸是自觉参与生态文明建设的“美丽因子”;以环宇论，腐植酸是积极维护地球碳循环的“安全卫士”。
                </p>
                <p>
                    　　8、2016年，首发“腐植酸低碳农业工程示范”。2016年6月16日，我会在北京召开“培育土壤肥力产业发展论坛”，强调腐植酸是土壤最大的碳裤，腐植酸肥料具有储碳、稳碳、控碳功能，一旦与土壤给合，可有效调节气候变化，号召全行业开展腐植酸肥料低碳农业研究与示范，并发布了《一克土宣言》(见2016年第4期《腐植酸》杂志)。可喜可贺，在国家“十三五”大力发展低碳农业之际，北京嘉博文生物科技有限公司蒲江耕地质量提升“5+1”服务基地被纳入国家重点研发计划农业减排固碳示范基地。
                </p>
                <p>
                    　　8年来，我会坚持走低碳农业发展之路，积累了腐植酸低碳农业的丰硕成果。新时期，“腐植酸人”应借助国务院《关于印发“十三五”控制温室气体排放工作方案》，主动承担起开展低碳农业的国家使命，充分发挥腐植酸低碳联土联肥联生态的优势，大张旗鼓地发展腐植酸低碳农业迈上新台阶。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
        </div>

    </div>
</div>