<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3><strong>生物液体腐植酸修复铬污染土壤技术获国际领先</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　众所周知，受铬污染土壤危害极为严重，其中六价铬毒性极强，通过皮肤接触或吸入可能致癌，对环境有持久危险性。由于六价铬极具水溶性，铬矿石加工、电镀、皮革加工等工业产生的六价铬会随着雨水渗入土壤对水体造成严重污染。
                </p>
                <p>
                    　　田教授表示，目前铬污染土壤的修复技术，无论是生物修复法、物理修复法还是化学修复法，均存在修复时间长、能耗高或二次污染的弊端。腐植酸是有机弱酸混合物，其丰富的官能团，如共轭双键、羟基、羧基、酚羟基、羰基等大量还原性官能团能将六价铬还原为三价铬;羧基是良好的鳌合剂，能与三价铬形成稳定的鳌合物，更促进六价铬快速还原。为此，腐植酸修复法可以成为一种铬污染土壤的绿色修复技术，同时还可改善土壤结构，恢复土壤种植功能。
                </p>
                <p>
                    　　“生物液体腐植酸绿色修复技术”是将生物液体腐植酸绿色修复剂与被重金属污染的土壤充分接触，经过还原、固化等工序，土壤中最大的危害物六价铬转化为不迁移无害的三价铬，实现土壤去毒、修复的目的。修复完的土样验收报告显示，多项污染指标未检出，验收合格率100%，平均修复转化效率高达99.92%，最高修复转化效率超过99.98%。修复完成一周后土壤表面出现微生物活动迹象，种植植物根、茎、叶检测报告符合国家食品安全标准，盆栽土检测报告污染指标降至未检出水平。该技术被中国石油和化学工业联合会鉴定委员会鉴定为“在铬污染土壤高效修复方面达到同类研究国际领先水平。”
                </p>
                <p>
                    　　腐植酸作为土壤组成的基本物质、团粒结构的主要成分、土壤肥力的重要指标，回归土壤是健康土壤环境形成的前提。山东创新腐植酸科技股份有限公司在董事长孙明广的带领下，与科研院所广泛合作，不断超越、勇于创新，抓住了土壤环境治理的大好时机,一定会在万亿级土壤修复市场上占据先机。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
    </div>
    </div>
</div>