<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3><strong>腐植酸，看“天气”重在补“地气”</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　2017年2月12日，新华社发布《北极气温频繁“骤升” 专家：气候犯了大毛病》一文，值得我们深思。
                </p>
                <p>
                    　　一、 北极气候异常变化的6个现象
                </p>
                <p>
                    　　根据报道，北极气候异常变化主要表现在以下6个方面。
                </p>
                <p>
                    　　1、温差达24摄氏度。据美国《华盛顿邮报》报道，随着暖空气涌向北极地区，格陵兰岛最北端的地面监测站8日曾在短短12小时内，气温从零下22摄氏度骤升至2摄氏度，温差达到24摄氏度。
                </p>
                <p>
                    　　2、比正常高27摄氏度。美国国家海洋和大气管理局发布的分析数据显示，北极附近气温10日比正常水平高出大约27摄氏度。
                </p>
                <p>
                    　　3、气温创同期最高纪录。根据丹麦气象研究所的资料，本周早些时候，格陵兰岛东北部一处气象监测站的气温数据创下2月最高纪录，比此前最高值高出2摄氏度。
                </p>
                <p>
                    　　4、多次遭遇气温骤升。以过去两年为例，北极地区多次遭遇这类气温骤升;而正常情况下，这种情形本应数十年才发生一两次。
                </p>
                <p>
                    　　5、气温上升速度超2倍。2016年12月，美国国家海洋和大气管理局发布《北极年度报告》，指出北极地区升温速度是其他地方的两倍以上，陆地年度平均气温比1900年高3.5摄氏度。这项调查的负责人杰里米·马西斯提醒，北极地区比以往任何时候都显示出更强烈、更显著的持续变暖信号。
                </p>
                <p>
                    　　6、海冰面积同期最低。南极和北极海冰总面积与历史同期相比降至最低。据2016年12月一项统计，南极海冰面积降至历史同期最低，只有1122万平方公里，打破1982年创下的纪录;而北极海冰的面积也创历史新低，只有1025万平方公里。
                </p>
                <p>
                    　　结论：人类高能消费，强烈干扰，无节制活动，必然加剧气候变化。
                </p>
                <p>
                    　　二、腐植酸减少碳排放的6个作用
                </p>
                <p>
                    　　腐植酸是土生土长的气候因子，减少碳排放有实效，以下6个方面可鉴。
                </p>
                <p>
                    　　1、腐植酸碳“牵一发而动全身”。大观腐植酸碳，占土壤有机碳80%，占地球生物圈67.6%，是陆地植被碳的4倍多，大气CO2碳的3倍多。
                </p>
                <p>
                    　　2、土壤腐植酸的低碳化属性。腐植酸本身是土壤团粒的构造者，促进&gt;0.25 mm粒级水稳性团聚体增加，自备“暗色”储碳功能。
                </p>
                <p>
                    　　3、腐植酸肥料生产低碳化。科学研究表明，每生产1 kg腐植酸，可节能约62500 KJ，折合2 kg标煤，同时相应减少CO2排放5.6 kg。
                </p>
                <p>
                    　　4、腐植酸提高肥料利用率必然低碳。科学研究表明，在等养分的情况下，腐植酸肥料比常规肥料利用率平均提高10个百分点以上，相当于净增30%～40%。
                </p>
                <p>
                    　　5、腐植酸肥料减少温室气体排放必然低碳。科学研究表明，施用腐植酸肥料可减少CO2、SO2和NOx等温室气体和有毒气体排放。
                </p>
                <p>
                    　　6、腐植酸增绿固碳减排。科学研究表明，每施用1 kg腐植酸，可增加植物吸收CO2量240 kg，占总CO2减排量的98%。
                </p>
                <p>
                    　　结论：腐植酸就是“储碳器”，应当加大利用腐植酸环境制品，投身地球“补碳”行动。
                </p>
                <p>
                    　　综上，面对全球气候异常变化，通过构筑“腐植酸→气候农业→低碳农业→低碳肥料→稳碳控碳”的低碳产业良性循环模式，反哺，反哺，再反哺，于“补地气”更具实效性。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
        </div>

    </div>
</div>