<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3><strong>腐植酸原料为什么要“活化”？</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　腐植酸原料的“活化”，主要是指对含腐植酸的风化煤、褐煤、泥炭等矿产资源的“活化”，目前主要针对肥料大量应用而言。由于化肥转型，肥料普遍选择与土壤“一家亲”的腐植酸与之相配。众所周知，通过工业提取的腐植酸，是匹配土壤本源性腐植酸的最好来源，而且越来越受到肥料界、土壤界、生物界、环境界的高度重视。“活化”的目的，主要在于激发原料中腐植酸在物理、化学和生物化学方面的活性，让其适用性、有效性、安全性等指标与肥料结合得更好。
                </p>
                <p>
                    　　一、活化原料中的腐植酸，是保护腐植酸资源的“良心工程”。
                </p>
                <p>
                    　　我国含腐植酸的风化煤、褐煤和泥炭储量仅有2千多亿吨，干基腐植酸含量≥40%以上数量有限，属于不可再生资源。大家知道，含腐植酸的原料，因来源不同、质量差异很大。如果不进行评价，不经工业化提取或采取活化处理，不仅不能发挥其应有的作用与功效，而且会造成含腐植酸资源的极端浪费。所以，注重节约、合理加工和有效利用含腐植酸的宝贵资源，是当代“腐植酸人”的基本责任，是留给子孙后代的“良心工程”。
                </p>
                <p>
                    　　二、活化原料中的腐植酸，是区分腐植酸基础产品质量差别的前提条件。
                </p>
                <p>
                    　　前述，不同原料腐植酸含量和质量差别很大。对腐植酸基础产品的生产来说，应选择腐植酸含量高、易于加工、对环境安全的原料;对品位不太高的原料，应通过工业加工来提高原料中腐植酸的含量和活性。“活化”含腐植酸的原料，主要在于让腐植酸脱灰，提升腐植酸的品位，提取及分离腐植酸组分，纯化及分级腐植酸产品，改善腐植酸制剂的稳定性、水溶性、抗絮凝性等，这些都是保证腐植酸基础产品应用的基本要求，也是区分腐植酸基础产品质量差别的“前提条件”。
                </p>
                <p>
                    　　三、活化原料中腐植酸的基本方法。
                </p>
                <p>
                    　　目前，“活化”含腐植酸原料的基本方法有“物理活化”“化学氧化活化”“生物化学降解活化”“光辐射降解活化”以及“超声波活化”等。利用这些方法的主要目的就在于，提高腐植酸的含量，降低腐植酸的分子量，增加腐植酸的官能团，提高腐植酸的水溶性，提高腐植酸的使用效果等。今后，腐植酸结构的剖析、腐植酸原料的活化和腐植酸产品的开发，仍然是腐植酸应用基础研究的主要方向。我们必须提醒，腐植酸应用制剂效果的优劣，不仅直接影响着生产制造商的诸多利益，而且还关系着人们的生产、生活与健康安全及生态环境安全。因此，“活化”腐植酸原料，于“肥料”来说就是大事。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>
    </div>
    </div>
</div>