<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="newsContent">
            <h3><strong>腐植酸水溶肥料促进水肥一体化发展</strong></h3>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 articleSrc">信息来源: <span>宁夏润土生物科技有限公司</span></div>
                <div class="col-xs-12 col-sm-3 col-md-2 articleDate">发布日期: <span>{{myTime()}}</span></div>
            </div>
            <!--<hr>-->
            <div class="row articleContent">
                <p>
                    　　在过去的几年里，我国的水肥一体化得到了广大的推广和发展，腐植酸水溶肥料对水肥一体化的发展起到了至关重要的作用。随着农业的不断发展，农业集约化经营逐渐显现出其卓越的优点，施肥方式和灌溉方式的变化是农业集约化经营与环境协调发展的一个重要方面。
                </p>
                <p>
                    　　由过去的撒施、沟施，然后大水漫灌变为现在的肥料配套喷灌、滴灌系统，一方面避免了肥料的浪费及粉尘污染，另一方面又节约了灌溉用水，降低了生产成本。这样对肥料的品质也提出了更高的要求，既要使用效果好，又要符合施肥方式的要求。
                </p>
                <p>
                    　　在滴灌与喷灌系统中，滴水器与喷头是核心器件。水流通道断面最小尺寸在0.3-1.0毫米之间变化。由于滴头与喷头流道较小，所以很容易造成流道堵塞。
                </p>
                <p>
                    　　全水溶性肥料能迅速地溶解于水中，更容易被作物吸收，而且吸收利用率相对较高。更为关键的是，它可以应用于喷滴灌等设施农业，实现水肥一体化，达到省水、省肥、省工和增产的效能，伴随着设施农业与喷滴灌施肥的发展，全水溶性肥料成为必然趋势，用量会越来越大。
                </p>
                <p>
                    　　美国有25%的玉米、60%的马铃薯、32.8%的果树采用了水肥一体化技术;以色列则90%以上农业采用了水肥一体化技术。
                </p>
                <p>
                    　　我国水肥一体化技术相对滞后。我国现有果园、玉米、马铃薯、甘蔗等的种植面积达10亿多亩，但水肥一体化应用比例仅为3%左右。
                </p>
                <p>
                    　　市场上的腐植酸产品因提取精制工艺的不同，质量和肥格差异很大。那些用物理方法(如风选)分选的产品，虽外表黑色，很细，但不溶于水，黄腐酸含量低，生理活性差，难以用作喷灌肥和滴灌肥。
                </p>
                <p>
                    　　而经化学方法提取的腐植酸，含黄腐酸可达50%以上，甚至达90%，常是钠、钾或铵的腐植酸盐，可溶于水，也易与其他营养元素(NPK及中微量元素)配合，因而常被用作液肥原料，也可单一施用，在原液中浓度约5%-10%，但较多地是与化肥养分共同配制，制成腐植酸水溶性肥料。从成分上看，腐植酸水溶性肥料也是一种有机-无机复合肥料。
                </p>
                <p>
                    　　磷酸的多肥金属盐几乎都难溶于水，这是制备多元素液体肥料的一大难题。因为HA既是植物生产刺激素，又是无机元素的络合增溶肥，故在腐植酸类溶液中各种磷酸盐的溶解度大幅度提高，成为一种高效的有机-无机络合液肥。目前，国外许多名牌液肥就是腐植酸类物质的络合体。美国用一种风化褐煤制成的液肥畅销东南亚，并已进入我国市场。
                </p>
                <p>
                    　　腐植酸钾与腐植酸钠具有易溶于水、抗硬水、不絮凝、不沉淀等优点，更有利于融合水溶性肥料，适合滴灌、喷灌、渗灌等现代农业施肥方式。
                </p>
                <p>
                    　　因此，在水溶性肥料中添加腐植酸钾与腐植酸钠是非常必要的，具有缓氮、络磷、促钾的重大意义。腐植酸用于水溶性肥料喷滴灌可以起到减少化肥的用量和大幅度提高肥效的作用。
                </p>
                <p>
                    　　高活性腐植酸钾是绿色和有机农业中最好的水溶肥料新品种之一，加快了现代农业水肥一体化发展进程，减少了化肥用量，提高了肥料利用率，还大大提升了农产品品质。因此发展此类液肥对推动水肥一体化的现代农业技术有着重要的现实意义。
                </p>

                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>

            </div>

    </div>
    </div>
</div>