html, body, ul, li, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
body {
    background: white;
}
@media all and (min-width: 320px) {
    /*.home video::-internal-media-controls-download-button {*/
        /*display:none;*/
    /*}*/
    /*.home video::-webkit-media-controls-enclosure {*/
        /*overflow:hidden;*/
    /*}*/
    /*.home video::-webkit-media-controls-panel {*/
        /*width: calc(100% + 30px);*/
    /*}*/
    /*.home .show1 .inner-show:nth-child(3)>div:nth-child(1) {*/
        /*height: 200px;*/
    /*}*/
    /*.home .show1 .inner-show:nth-child(3)>div:nth-child(3) p {*/
        /*height: 300px;*/
    /*}*/

}
/*@media all and (min-width: )*/
/*@media (min-width: 612px) and (max-width: 768px) {*/
    /*.home #myCarousel1 .carousel-inner .row:nth-child(2)>div {*/
        /**/
    /*}*/
/*}*/
@media (min-width: 320px) and (max-width: 768px){
    /*mobile col-xs-*/
    header .email,
    header .phone{
        position: relative;
        left: 50px;
        /*right: 0;*/
    }
    footer .row:nth-child(2) {
        height: 120px;
    }
    .home video::-internal-media-controls-download-button,
    .myVideo video::-internal-media-controls-download-button{
        display:none;
    }
    .home video::-webkit-media-controls-enclosure,
    .myVideo video::-webkit-media-controls-enclosure{
        overflow:hidden;
    }
    .home video::-webkit-media-controls-panel,
    .myVideo video::-webkit-media-controls-panel{
        width: calc(200% + 30px);
    }

    .navbar-default a.navbar-brand {
        color: orange;
        font-weight: bold;
        display: inline;
    }
    .navbar-default button.navbar-toggle {
        border-color: orange;
    }
    .navbar-default button.navbar-toggle .icon-bar {
        background: orange;
    }
    .display-area .display .display-inner .icon-side>.row:nth-child(2) {
        display: none;
    }
    .display-area .display .display-inner .icon-side>.row h1 {
        text-align: center;
    }
    .home .show1 .inner-show:nth-child(3)>div:nth-child(2) {
        display: none;
    }
    /*.home .show1 .inner-show:nth-child(3)>div:nth-child(3) {*/
        /*height: 200px;*/
    /*}*/
    .home .show1 .inner-show:nth-child(3)>div:nth-child(1) {
        /*height: 200px;*/
        /*margin: 0 0 0px 0;*/
    }

    .home .show1 .inner-show:nth-child(3)>div:nth-child(3) {
        /*height: 350px;*/
    }
    /*.home .show1 .inner-show:nth-child(3)>div:nth-child(3) p {*/
        /*height: 350px;*/
    /*}*/

    .home #myCarousel1 .carousel-inner p {
        margin: 0;
        padding: 0;
    }
    .home #myCarousel1 strong {
        text-align: center;
    }
    .myNews .row:nth-child(1) {
        margin: 20px 0 5px 0;
    }
    .myNews .row:nth-child(1) h1 {
        font-size: 28px;
        color: orange;
    }
    .myNews #myNews_btn1 {
        text-align: right;
        outline: none;
    }
    .myNews #myNews_btn2 {
        text-align: left;
        outline: none;
    }
    .myNews #myNews_btn1 .btn.btn-primary,
    .myNews #myNews_btn2 .btn.btn-primary {
        border: none;
    }
    .myNews #myNews_btn1 .btn.btn-primary.active,
    .myNews #myNews_btn2 .btn.btn-primary.active {
        background: orange;
    }
    .myNews .newsContent h3 {
        text-align: center;
        margin-top: 20px;
    }
    .myNews .newsContent h3 strong {
        font-weight: 900;
    }
    .myNews .newsContent>div.row>div.articleSrc {
        text-align: center;
    }
    .myNews .newsContent>div.row>div.articleDate {
        text-align: center;
        padding: 0;
    }
    .myNews .newsContent>div.row>div.articleSrc span,
    .myNews .newsContent>div.row>div.articleDate span {
        color: orange;
    }
    .myNews .newsContent>div.row.articleContent {
        padding-top: 20px;
        font-family: SimSun;
    }
    .products .row h1,
    .myVideo .row h1,
    .myAbout .row h1,
    .myContact .row h1{
        color: orange;
        margin-top: 20px;
    }
    .products .productsItem img {
        width: 85%;
    }
    .products .productsItem>div {
        text-align: center;
        margin: 10px 0;
    }
    .products .productsItem>div:hover {
        cursor: pointer;
    }
    .products .container-fluid.productsShow {
        background: white;
        padding: 0;
        margin: 0;
        display: none;
    }
    .products .container-fluid.productsShow .row {
        background: black;
        color: white;
    }
    .products .row.productsItem p {
        background: green;
    }
    .products .row.productsItem p.active {
        background: orange;
    }
    .myAbout button {
        border: none;
    }
    .myAbout button.btn-primary.active,
    .myAbout button.btn-primary:active:focus,
    .myAbout button.btn-primary:focus{
        background: orange;
        box-shadow: none;
        outline: none;
    }
    .myAbout .about3 p {
        background: rgb(5, 54, 54);
        color: white;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }
    .myContact form i.glyphicon-asterisk {
        height: 34px;
        line-height: 34px;
        font-size: 10px;
        color: red;
    }
    .myContact form label {
        color: orange;
        font-weight: bold;
        padding: 0;
        height: 34px;
        line-height: 34px;
        text-align: right;
    }

    .myContact .address1 > div:nth-child(1),
    .myContact .phone1 > div:nth-child(1),
    .myContact .email1 > div:nth-child(1) {
        padding: 0;
    }

    .myContact .address1 > div:nth-child(1) > div,
    .myContact .phone1 > div:nth-child(1) > div,
    .myContact .email1 > div:nth-child(1) > div {
        height: 60px;
        width: 60px;
        border-radius: 30px;
        background: orange;
    }

    .myContact .address1 > div:nth-child(2) > div,
    .myContact .phone1 > div:nth-child(2) > div,
    .myContact .email1 > div:nth-child(2) > div {
        padding-left: 20px;
    }

    .myContact .address1 .glyphicon,
    .myContact .phone1 .glyphicon,
    .myContact .email1 .glyphicon {
        position: absolute;
        top: 25%;
        left: 21%;
        font-size: 30px;
        color: white;
    }
    .myContact .phone1 a:hover,
    .myContact .email1 a:hover {
        text-decoration: none;
    }


    /*.home .news  img {*/
        /*text-align: center;*/
    /*}*/
}
@media all and (min-width: 768px) {
    /*tablet col-sm-*/
    header .email,
    header .phone {
        /*position: relative;*/
        left: 100px;
        /*right: 0;*/
    }

    footer .row:nth-child(2) {
        height: auto;
    }

    .display-area .display .display-inner .icon-side > .row h1 {
        text-align: center;
    }

    .navbar-default a.navbar-brand {
        display: none;
    }

    .display-area .display .display-inner .icon-side > .row:nth-child(2) {
        display: none;
    }

    .home .show1 .inner-show:nth-child(3) > div:nth-child(2) {
        display: none;
    }

    /*.home .show1 .inner-show:nth-child(3)>div:nth-child(3) {*/
    /*height: 300px;*/
    /*}*/
    /*.home .show1 .inner-show:nth-child(3)>div:nth-child(3) p {*/
    /*margin: -20px 0 0 0 ;*/
    /*}*/
    .myNews .row:nth-child(1) {
        margin: 20px 0 5px 0;
    }

    .myNews .row:nth-child(1) h1 {
        color: orange;
    }

    .myNews #myNews_btn1 {
        text-align: right;
        outline: none;
    }

    .myNews #myNews_btn2 {
        text-align: left;
        outline: none;
    }

    .myNews #myNews_btn1 .btn.btn-primary,
    .myNews #myNews_btn2 .btn.btn-primary {
        border: none;
    }

    .myNews #myNews_btn1 .btn.btn-primary.active,
    .myNews #myNews_btn2 .btn.btn-primary.active {
        background: orange;
    }

    .myNews .newsContent h3 {
        text-align: center;
        margin-top: 20px;
    }

    .myNews .newsContent h3 strong {
        font-weight: 900;
    }

    .myNews .newsContent > div.row > div.articleSrc {
        text-align: right;
    }

    .myNews .newsContent > div.row > div.articleDate {
        text-align: left;
        padding: 0;
    }

    .myNews .newsContent > div.row > div.articleSrc span,
    .myNews .newsContent > div.row > div.articleDate span {
        color: orange;
    }

    .myNews .newsContent > div.row.articleContent {
        padding-top: 20px;
        font-family: SimSun;
    }

    .products .row h1,
    .myVideo .row h1,
    .myAbout .row h1,
    .myContact .row h1 {
        margin-top: 20px;
        color: orange;
    }

    .products .productsItem img {
        width: 85%;
        /*text-align: center;*/
    }

    .products .productsItem > div {
        text-align: center;
        margin: 10px 0;
    }

    .products .productsItem > div:hover {
        cursor: pointer;
    }

    .products .container-fluid.productsShow {
        background: white;
        padding: 0;
        margin: 0;
        display: none;
    }

    .products .container-fluid.productsShow .row {
        background: black;
        color: white;
    }

    .products .row.productsItem p {
        background: green;
    }

    .products .row.productsItem p.active {
        background: orange;
    }

    .home video::-internal-media-controls-download-button,
    .myVideo video::-internal-media-controls-download-button {
        display: none;
    }

    .home video::-webkit-media-controls-enclosure,
    .myVideo video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }

    .home video::-webkit-media-controls-panel,
    .myVideo video::-webkit-media-controls-panel {
        width: calc(100% + 30px);
    }

    .myAbout button {
        border: none;
    }

    .myAbout button.btn-primary.active,
    .myAbout button.btn-primary:active:focus,
    .myAbout button.btn-primary:focus {
        background: orange;
        box-shadow: none;
        outline: none;
    }

    .myAbout .about3 p {
        background: rgb(5, 54, 54);
        color: white;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }

    .myContact form i.glyphicon-asterisk {
        height: 34px;
        line-height: 34px;
        font-size: 8px;
        color: red;
    }

    .myContact form label {
        color: orange;
        font-weight: bold;
        padding: 0;
    }

    .myContact .address1 > div:nth-child(1),
    .myContact .phone1 > div:nth-child(1),
    .myContact .email1 > div:nth-child(1) {
        padding: 0;
    }

    .myContact .address1 > div:nth-child(1) > div,
    .myContact .phone1 > div:nth-child(1) > div,
    .myContact .email1 > div:nth-child(1) > div {
        height: 80px;
        width: 80px;
        border-radius: 40px;
        background: orange;
    }

    .myContact .address1 > div:nth-child(2) > div,
    .myContact .phone1 > div:nth-child(2) > div,
    .myContact .email1 > div:nth-child(2) > div {
        padding-left: 20px;
    }

    .myContact .address1 .glyphicon,
    .myContact .phone1 .glyphicon,
    .myContact .email1 .glyphicon {
        position: absolute;
        top: 24%;
        left: 21%;
        font-size: 40px;
        color: white;
    }
    .myContact .phone1 a:hover,
    .myContact .email1 a:hover {
        text-decoration: none;
    }
}
@media all and (min-width: 992px){
    /*small laptops col-md-*/
    .display-area .display .display-inner .icon-side>.row:nth-child(2) {
        display: block;
    }
    .home .show1 .inner-show:nth-child(3)>div:nth-child(2) {
        display: block;
    }
    .news h4 {
        font-size: 17px;
    }
    header ul.nav.navbar-nav {
        width: 100%;
    }
    header ul.nav.navbar-nav>li {
        width: 16%;
    }
    .home .inner-show:nth-child(3)>div:nth-child(2)>div {
        height: 117px;
    }
    .myNews .newsContent>div.row>div.articleSrc {
        margin-left: 22%;
    }
    .myAbout .image img:hover {
        cursor: pointer;
    }
    .myAbout .cover .glyphicon-remove-sign {
        position: absolute;
        right: 2%;
        top: 2%;
        color: white;
        font-size: 30px;
    }
    .myAbout .cover .glyphicon-remove-sign:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    /*.myNews .newsContent>div.row>div.articleDate {*/
        /*text-align: left;*/
        /*padding: 0;*/
    /*}*/


}
@media all and (min-width: 1200px) {
    /*laptops & desktops col-lg-*/
    .news h4 {
        font-size: 18px;
    }
    .home .inner-show:nth-child(3)>div:nth-child(2)>div {
        height: 143px;
    }

}

/*header part*/
header {
    /*height: 200px;*/
}
header .outer {
    height: 100px;
}
header .image,
header .phone,
header .email {
    height: 100%;
    line-height: 100px;
}
/*header .email,*/
/*header .phone{*/
    /*position: relative;*/
    /*left: 100px;*/
/*}*/
header .email .glyphicon-envelope,
header .phone .glyphicon-earphone{
    font-size: 25px;
    color: orange;
    margin-right: 5px;
}
header .email a,
header .phone a{
    font-size: 105%;
}
header .email a:hover,
header .phone a:hover,
header .email a:focus,
header .phone a:focus{
    text-decoration: none;
}
/*header .email strong,*/
/*header .phone strong {*/
    /*color: gray;*/
    /*opacity: 0.6;*/
/*}*/
/*header .email a:hover strong,*/
/*header .phone a:hover strong {*/
    /*opacity: 1;*/
/*}*/

header .email .glyphicon-envelope {
    transform: rotate(-45deg);
}
header .phone .glyphicon-earphone {
    font-size:25px;
}
header nav.navbar.navbar-default .nav.navbar-nav {
    /*display: inline-flex;*/
    /*justify-content: space-between;*/
}
header nav.navbar.navbar-default .nav.navbar-nav>li {
    /*height: 50px;*/
    /*line-height: 50px;*/
}
header nav.navbar.navbar-default .nav.navbar-nav>li>a,
header nav.navbar.navbar-default .nav.navbar-nav>li.dropdown>a.dropdown-toggle,
header nav.navbar.navbar-default .nav.navbar-nav>li.active>a,
header nav.navbar.navbar-default .nav.navbar-nav>li.dropdown.active>a.dropdown-toggle,
header nav.navbar.navbar-default .nav.navbar-nav>li>a:focus{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    background: none;
}
header nav.navbar.navbar-default .nav.navbar-nav>li.active>a,
header nav.navbar.navbar-default .nav.navbar-nav>li.dropdown.active>a.dropdown-toggle,
header nav.navbar.navbar-default .nav.navbar-nav>li.dropdown>a.dropdown-toggle:hover,
header nav.navbar.navbar-default .nav.navbar-nav>li.dropdown>a.dropdown-toggle:focus,
header nav.navbar.navbar-default .nav.navbar-nav>li.active>a:focus,
header nav.navbar.navbar-default .nav.navbar-nav>li.active>a:hover,
header nav.navbar.navbar-default .nav.navbar-nav>li>a:hover,
header nav.navbar.navbar-default #example-navbar-collapse .dropdown-menu>li>a:hover {
    background: none;
    color: #ffc636;
}
header nav.navbar.navbar-default .dropdown-menu {
    background: rgb(5, 54, 54);
}
header nav.navbar.navbar-default #example-navbar-collapse .dropdown-menu>li>a{
    color: white;
}
header nav.navbar.navbar-default .dropdown-menu>li>a:hover,
header nav.navbar.navbar-default .dropdown-menu>li>a:focus{
    color: #ffc636;
    background: none;
}
header .wrapper {
    display: inline-block;
    border: 1px solid gray;
    opacity: 0.5;
    height: 45px;
    width: 45px;
    border-radius: 22px;
    position: absolute;
    top: 21px;
    left: 4px;
}
header .hr {
    height: 6px;
    background: orange;
}
/*header nav .nav-pills>li.dropdown>.dropdown-menu {*/
    /*display: none;*/
    /*!*visibility: hidden;*!*/
/*}*/
/*header nav .nav-pills>li.dropdown:hover>.dropdown-menu {*/
    /*!*visibility: visible;*!*/
    /*display: block;*/
/*}*/




/*footer part*/
footer .hr {
    height: 6px;
    background: orange;
}
/*footer>.row:nth-child(2) {*/
    /*height: 150px;*/
/*}*/
footer .container>.row {
    text-align: center;
    height: 30px;
    margin: 10px 0;
}
footer .row>div,
footer .row>div a{
    font-size: 14px;
    color: white;
}
footer .row>div a:hover,
footer .row>div a:focus{
    text-decoration: none;
    color: orange;
}
/*main body part*/
.home {
    background: white;
}
.home .display-area .row {
    /*width: 105%;*/
    margin: 0;
    padding: 0;
}
.home .display-area .display {
    height: 250px;
    padding: 0;
    margin: 0;
    background-size: cover;
}
.home .display-area .display:nth-child(odd) {
    /*background: rgb(251, 200, 0);*/
    opacity: 0.7;
}
.home .display-area .display:nth-child(even) {
    /*background: rgb(5, 54, 54);*/
    opacity: 0.7;
}
.home .display-area .display:nth-child(1) {
    background: url('../img/left-box-bg.jpg') no-repeat center;
}
.home .display-area .display:nth-child(2) {
    background: url('../img/center-box-bg.jpg') no-repeat center;
}
.home .display-area .display:nth-child(3) {
    background: url('../img/right-box-bg.jpg') no-repeat center;
}
.home .display-area .display .display-inner {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 10px 0 0;
    color: white;
}
.home .display-inner h1 {
    text-align: left;
    /*position: relative;*/
    /*top: 20px;*/
}
.home .display-area .display:nth-child(odd) .display-inner {
    /*background: rgba(251, 200, 0, 0.85);*/
    background: rgba(255, 165, 0, 0.85);
}
.home .display-area .display:nth-child(even) .display-inner {
    background: rgba(5, 54, 54, 0.85);
}
.home .display-area .display .display-inner:hover,
.home .display-area .display .display-inner.active{
    color: greenyellow;
}
.home .display-area .display:nth-child(odd) .display-inner:hover,
.home .display-area .display:nth-child(odd) .display-inner.active{
    background: rgba(255, 165, 0, 1);
}
.home .display-area .display:nth-child(even) .display-inner:hover,
.home .display-area .display:nth-child(even) .display-inner.active{
    background: rgba(5, 54, 54, 1);
}
.home .display-inner:hover .icon div,
.home .display-inner.active .icon div{
    border-color: greenyellow;
}
.home .display-inner div {
    padding: 0;
}
.home .display-inner .icon div {
    border: 2px solid white;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 30px auto;
}
.home .display-inner .icon div i {
    font-size: 45px;
    position: relative;
    top: 5px;
    left: 8px;
}
.home .display:nth-child(3) .display-inner .icon div i {
    font-size: 35px;
    top: 10px;
}
.home .display-inner .icon-side .row:nth-child(1){
    height: 100px;
}
.home .display-inner .icon-side .row:nth-child(1) h1 {
    height: 100px;
    line-height: 100px;
}
.home .display:hover {
    cursor: pointer;
}
.home video::-internal-media-controls-download-button {
    display:none;
}
.home video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
.home video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}
.home #myCarousel1 .left i,
.home #myCarousel1 .right i{
    font-size: 30px;
    margin-top: 100%;
}
.home #myCarousel1 .item p:hover,
.home #myCarousel1 .item img:hover{
    cursor: pointer;
}
.home .usage .row h1,
.home .usage .row h2,
.home .news .row h1{
    text-align: center;
    margin: 20px 0 5px 0;
    color: gray;
}
.home .usage .row hr,
.home .news .row hr{
    margin: 10px 0;
    border: 1px solid rgb(193, 193, 193);
}


