<header>
    <!--<div class="row" style="height: 10px; width: 100%;"></div>-->
    <div class="row">
        <div class="container">
            <div class="row outer">
                <div class="col-md-5 col-sm-12 col-xs-12 image">
                    <a ng-href="#!/">
                        <img class="img-responsive" src="./img/logo.jpg" alt="宁夏润土生物科技有限公司">
                    </a>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-12 col-xs-12 email">
                    <!--vertical-center-->
                    <div>
                        <a href="mailto: wrj2080989@163.com" title="联系邮件">
                            <div class="wrapper"></div>
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span><strong>WRJ2080989@163.com</strong></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 phone">
                    <!--vertical-center-->
                    <div>
                        <a href="tel:09523813666" title="联系电话">
                            <div class="wrapper"></div>
                            <span class="glyphicon glyphicon-earphone"></span>
                            <span><strong>0952-3813666</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background: rgb(5, 54, 54);">
        <nav>
            <div class="container">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="#">网站首页</a></li>
                    <li><a href="">新闻动态</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">产品
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="">产品展示</a></li>
                            <li><a href="">产品用途</a></li>
                            <li><a href="">腐植酸</a></li>
                        </ul>
                    </li>
                    <li><a href="">视频展示</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">关于润土
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="">公司简介</a></li>
                            <li><a href="">企业文化</a></li>
                            <li><a href="">资质荣誉</a></li>
                            <li><a href="">企业风采</a></li>
                        </ul>
                    </li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row hr"></div>
</header>
