<header>
    <!--<div class="row" style="height: 10px; width: 100%;"></div>-->
    <div class="row">
        <div class="container">
            <div class="row outer">
                <div class="col-xs-12 col-sm-12 col-md-5 image">
                    <a ng-href="#!/">
                        <img class="img-responsive" src="./img/logo.jpg" alt="宁夏润土生物科技有限公司">
                    </a>
                </div>
                <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-3 col-md-offset-1 email">
                    <!--vertical-center-->
                    <div>
                        <a href="mailto: wrj2080989@163.com" title="联系邮件">
                            <div class="wrapper"></div>
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span><strong>WRJ2080989@163.com</strong></span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 phone">
                    <!--vertical-center-->
                    <div>
                        <a href="tel:+8613847327570" title="联系电话">
                            <div class="wrapper"></div>
                            <span class="glyphicon glyphicon-earphone"></span>
                            <!--<span><strong>0952-3813666</strong></span>-->
                            <span><strong>13847327570</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background: rgb(5, 54, 54);">
        <nav class="navbar navbar-default" role="navigation" style="background: rgb(5, 54, 54); border: none; margin: 0;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">宁夏润土生物科技有限公司</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="">网站首页</a></li>
                        <li><a href="">新闻动态</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">产品
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">产品展示</a></li>
                                <li><a href="">产品用途</a></li>
                                <li><a href="">腐植酸</a></li>
                            </ul>
                        </li>
                        <li><a href="">视频展示</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">关于润土
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">公司简介</a></li>
                                <li><a href="">企业文化</a></li>
                                <li><a href="">资质荣誉</a></li>
                                <li><a href="">企业风采</a></li>
                            </ul>
                        </li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--<nav>-->
            <!--<div class="container">-->
                <!--<ul class="nav nav-pills nav-justified">-->
                    <!--<li class="active"><a href="#">网站首页</a></li>-->
                    <!--<li><a href="">新闻动态</a></li>-->
                    <!--<li class="dropdown">-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="">产品-->
                            <!--<span class="caret"></span>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="">产品展示</a></li>-->
                            <!--<li><a href="">产品用途</a></li>-->
                            <!--<li><a href="">腐植酸</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="">视频展示</a></li>-->
                    <!--<li class="dropdown">-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="">关于润土-->
                            <!--<span class="caret"></span>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="">公司简介</a></li>-->
                            <!--<li><a href="">企业文化</a></li>-->
                            <!--<li><a href="">资质荣誉</a></li>-->
                            <!--<li><a href="">企业风采</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="">联系我们</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</nav>-->
    </div>
    <div class="row hr"></div>
</header>
