<div class="home" page-height-watch>
    <!--page-height-watch-->
    <div class="row">
        <!--<div class="container">-->
            <div id="myCarousel" class="carousel slide" carousel-play>
                <!-- 轮播（Carousel）指标 -->
                <div class="carousel-indicators" style="height: 20px;">
                <span class="indicator img-rounded {{$index === 0 ? 'active' : ''}}" data-target="#myCarousel"
                      data-slide-to="{{$index}}" ng-repeat="x in banners track by $index"
                      ng-style="indicatorStyle">
                    <span class="progress-bar img-rounded {{$index === 0 ? 'active' : ''}}" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                          style="display: inline-block; " carousel-indicator-progress
                    ></span>
                </span>
                </div>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item {{$index === 0 ? 'active' : ''}}" ng-repeat="y in banners track by $index">
                        <img ng-src="{{y}}" alt="{{$index}} slide">
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
    <div class="row display-area">
        <div class="row">
            <div class="display col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <div class="display-inner" block-click="left">
                    <inner-block type="{{homeBlocks.left.type}}" title1="{{homeBlocks.left.title1}}" description="{{homeBlocks.left.description}}"></inner-block>
                </div>
            </div>
            <div class="display col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <div class="display-inner" block-click="center">
                    <inner-block type="{{homeBlocks.center.type}}" title1="{{homeBlocks.center.title1}}" description="{{homeBlocks.center.description}}"></inner-block>
                </div>
            </div>
            <div class="display col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <div class="display-inner" block-click="right">
                    <inner-block type="{{homeBlocks.right.type}}" title1="{{homeBlocks.right.title1}}" description="{{homeBlocks.right.description}}"></inner-block>
                </div>
            </div>
        </div>
        <div class="row show1" style="display: none;">
            <div class="container-fluid" style="background: white;">
                <div class="container">
                    <div class="row" style="background: black; ">
                        <!--height: 400px-->
                        <div class="inner-show row">
                            <div class="col-md-12" style=" color: white">
                                <display-carousel></display-carousel>
                            </div>
                        </div>
                        <div class="inner-show row">
                            <div class="col-md-6">
                                <video src="./img/video1.mp4" style="width: 100%; height: 400px;" controls preload="metadata"></video>
                                <!--<iframe style="width: 100%; height: 400px;" src="https://www.youtube.com/embed/JJaG9ThVR6U" frameborder="0" allowfullscreen></iframe>-->
                            </div>
                            <div class="col-md-6">
                                <video src="./img/video2.mp4" style="width: 100%; height: 400px;" controls preload="metadata"></video>
                                <!--<iframe style="width: 100%; height: 400px;" src="https://www.youtube.com/embed/q9IvEw8bmn8" frameborder="0" allowfullscreen></iframe>-->
                            </div>
                        </div>
                        <div class="inner-show row" style="padding-top: 40px;">
                            <div class="col-md-4" style="height: 300px; color: white; padding: 0 5px 0 10px;">
                                <img class="img-responsive" src="./img/about1.png" alt="宁夏润土生物科技有限公司">
                            </div>
                            <div class="col-md-2" style="height: 300px; color: white; padding: 0 5px;">
                                <div class="row" style="height: 143px;">
                                    <img class="img-responsive" src="./img/about2.png" alt="宁夏润土生物科技有限公司">
                                </div>
                                <div class="row" style="height: 143px;">
                                    <img class="img-responsive" src="./img/about3.png" alt="宁夏润土生物科技有限公司">
                                </div>
                            </div>
                            <div class="col-md-6" style="height: 300px; color: white">
                                <p style="height: 100%; margin: 0;" ng-bind="innerShowText"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container usage">
        <div class="row">
            <h1><strong><i class="fa fa-cubes" aria-hidden="true"></i>产品用途</strong></h1>
            <!--<h2><strong>Product Application</strong></h2>-->
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin: 0; padding: 0;">
                <img class="img-responsive" src="./img/cpyt.jpg" alt="产品用途" width="100%">
            </div>
        </div>
    </div>
    <div class="container news">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h1><strong><i class="fa fa-television" aria-hidden="true"></i>公司新闻</strong></h1>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive img-thumbnail" src="./img/news01.jpg" alt="news01">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <h4><strong>腐植酸在农业及工业上的具体应用和贡献</strong></h4>
                        </div>
                        <div class="row">
                            <p>
                                腐植酸在农业上的应用已被普遍认可，主要作用有：增进肥效、改良土壤、改善品质、调节作物生长和增强作物的抗逆性等。
                                主要产品类型有腐植酸土壤改良类、腐植酸类肥料、腐植酸类农药、腐植酸种苗类等。腐植......
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-10" style="padding: 0 0 0 15px;">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>腐植酸在农业及工业上的具体应用和贡献
                    </div>
                    <div class="col-md-2" style="padding: 0;">[2017-02-25]</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h1><strong><i class="fa fa-globe" aria-hidden="true"></i>行业动态</strong></h1>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive img-thumbnail" src="./img/hydt01.jpg" alt="news01">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <h4><strong>腐植酸水溶肥料促进水肥一体化发展</strong></h4>
                        </div>
                        <div class="row">
                            <p>
                                在过去的几年里，我国的水肥一体化得到了广大的推广和发展，
                                腐植酸水溶肥料对水肥一体化的发展起到了至关重要的作用。随着农业的不断发展，
                                农业集约化经营逐渐显现出其卓越的优点，施肥方式和灌溉方式的......
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
