<div class="row">
    <div class="col-md-3 icon">
        <div>
            <i class="fa fa-{{type}}" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-md-9 icon-side">
        <div class="row">
            <h1><strong>{{title1}}</strong></h1>
        </div>
        <div class="row">
            <p><strong>
                {{description}}
                <!--通过近10年的科研、生产及实践，宁夏润土生物科技有限公司已发展成为行业中规模大，品种全，品质优的腐植酸钠、腐植酸钾、腐植酸原粉专业生产基地，并可根据客户所需定制生产-->
            </strong></p>
        </div>
    </div>
</div>
