<div class="myNews" page-height-watch>
    <div class="container">
        <my-news-header></my-news-header>
        <div class="row" ng-repeat="x in companyNews.list track by $index" style="margin: 10px 0;" ng-show="atBtn1">
            <div class="col-md-9 col-xs-8" style="padding: 0 0 0 15px;">
                <a ng-click="switchArticle('companyNews', $index)" href="">
                    <!--ng-href="#!/news/companyNews/{{$index}}"-->
                    <i class="fa fa-caret-right" aria-hidden="true" style="color: green;"></i>{{x.title}}
                </a>
            </div>
            <div class="col-md-3 col-xs-4" style="padding: 0; text-align: right;">[{{x.date}}]</div>
        </div>
        <div class="row" ng-repeat="x in industryNews.list track by $index" style="margin: 10px 0;" ng-show="! atBtn1">
            <div class="col-md-9 col-xs-8" style="padding: 0 0 0 15px;">
                <a ng-click="switchArticle('industryNews', $index)" href="">
                    <i class="fa fa-caret-right" aria-hidden="true" style="color: green;"></i>{{x.title}}
                </a>
            </div>
            <div class="col-md-3 col-xs-4" style="padding: 0; text-align: right;">[{{x.date}}]</div>
        </div>

    </div>
</div>
