<div class="myVideo" page-height-watch>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1" style="text-align: center">
                <h1><strong>{{en ? 'Video' : '视频展示'}}</strong></h1>
            </div>
        </div>
        <hr style="margin: 10px 0;">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1" style="text-align: center">
                <h4><strong>{{en ? 'Ningxia Runtu Co.Ltd' : '宁夏润土生物科技有限公司'}}</strong></h4>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <video src="./img/PPT.mp4" style="width: 100%;" controls preload="metadata"></video>
                <!--<iframe style="width: 100%; height: 400px;" src="https://www.youtube.com/embed/JJaG9ThVR6U" frameborder="0" allowfullscreen></iframe>-->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1" style="text-align: center">
                <h4><strong>{{en ? 'Factory' : '生产车间'}}</strong></h4>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <video src="./img/video1.mp4" style="width: 100%;"  controls preload="metadata"></video>
                <video src="./img/video2.mp4" style="width: 100%;"  controls preload="metadata"></video>
                <!--<iframe style="width: 100%; height: 400px;" src="https://www.youtube.com/embed/JJaG9ThVR6U" frameborder="0" allowfullscreen></iframe>-->
            </div>
        </div>
    </div>
</div>